#writeReview{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 300px;
    
}

#writeReview form{
    background: none;
}

#writeReview table{
    margin: 0 auto;
    width: 70%;
    height: 500px;
    padding: 10px;
    border-collapse: collapse;
    text-align: left;
}

#writeReview table input{
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    outline: none;
    border: none;
}

#writeReview table textarea{
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    border: none;
}

#writeReview table tr:last-child{
    text-align: center;
}

#writeReview table button{
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    margin:0 10px;
    background: aliceblue;
}

#writeReview #view{
    background-color: aliceblue;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;

}

#writeReview #view table{
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px 20px;
    height: auto;
}

#writeReview #view table tr{
    height: 30px;
    line-height: 1.6;
}

#writeReview #view table tr>th:first-child {
    width: 15%;
}

#writeReview #view table img{
    height: 300px;
}

#writeReview #view table button{
    background-color: rgb(177, 213, 245);
}

@media screen and (max-width:768px){
    #writeReview{
        margin-top: 150px;
        margin-bottom: 100px;
    }
    #writeReview p{
        font-size: 14px;
    }
    #writeReview form table{
        width: 90%;
        font-size: 14px;
    }
    #writeReview #view{
        width: 90%;
    }
    #writeReview #view table img{
        max-width: 90%;
    }
}