#login{
    width: 80%;
    max-width: 1200px;
    height: 60vh;
    margin: 0 auto;
    text-align: center;
    padding: 7% 15%;
}
form{
    padding-top: 20px;
    background: aliceblue;
}

table{
    width: 80%;
    margin: 0 auto;
    padding: 5%;
}

#login tr{height: 50px; width: 60%;}
#login th{width: 30%; height: 100%;}
#login td:nth-child(2){width: 50%; height: 100%;}
#login td>input{height: 100%;width: 90%; border:none; outline: none; border-bottom: 2px solid #ccc; background: none;}
#login td button{
    width: 80%;
    height: 70px;
    border: none;
    outline: none;
}

#login form p{
    color: #555;
}

#login form span{
    display: inline-block;
    width: 100px;
}

#login form span:hover{
    color: skyblue;
    cursor: pointer;
}

#login form img{
    width: 60%;
}

@media screen and (max-width:768px){
    #login{
        padding: 0;
        padding-top: 150px;
    }
    #login>form{
        width: 100%;
    }
    table{
        width: 100%;
    }
}
