#main{
    width: 100%;
    height: 270vh;
    /* overflow: hidden; */
    background-color: skyblue;
    position: relative;
    
}

.main_back{
    position: sticky;
    position: -webkit-sticky;
    /* background-color: green; */
    z-index: 1;
    height: 130vh;
    top: 50px;
    margin-top: 200px;
    
}
    .mb1{
    position: absolute;
    top: 10%;
    left: -50%;
    width: 1600px;
    height: 800px;
    border-radius: 100%;
    z-index: 1;
    background: rgb(118, 192, 158);
}

     .mb2{
    position: absolute;
    top: 15%;
    right: -5%;
    width: 800px;
    height: 500px;
    border-radius: 100%;
    z-index: 1;
    background: rgb(111, 196, 111);
}

    .mb3{
    position: absolute;
    left: -5%;
    top: 15%;
    width: 110%;
    height: 600px;
    border-radius: 100%;
    z-index: 1;
    background-color: lightgreen;

}
    .mb4{
    position: absolute;
    height: 900px;
    top: 40%;
    width: 100%;
    border-radius: 0;
    background-color: lightgreen;
    z-index: 1;
}

#contents{
    width: 100%;
    position: absolute;
    top: 10%;
    z-index: 2;
}
section{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 90vh;
    padding-top: 50px;
}

/* 비쥬얼 */
#visual img{
    width: 60%;
}


/* 신제품 */
#newAr{
    overflow: hidden;
    position: relative;
    height: 80vh;
}
#newAr ul{
    margin-top: 100px;
    display: flex;
    height: 60%;
    width: 100%;
    position: absolute;
    left: 30%;
}
#newAr ul div{
    width: 100%;
}
#newAr>h2{
    font-size: 32px;
}
#newAr>p{
    font-size: 24px;
}

.swiper-slide-active{
    width: 23%;
}

#newAr ul li{
    background: #fff;
    border: 1px solid #ccc;
    width: 90%;
    height: 95%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#newAr ul li img{
    width: 95%;
}

#newAr .product_tbox{
    width: 95%;
    margin: 0 auto;
    height: 30%;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.likebtn{
    border: 1px solid #aaa;
    margin: 0 auto;
    height: 30%;
    width: 50%;
    line-height: 1.8;
}

.likebtn:hover{
    background-color: #ddd;
    border: 1px solid #ddd;
}


/* 포토리뷰 */
#photo-review{
    height: 80vh;
}
#photo-review h2{
    font-size: 30px;
}
#photo-review p{
    font-size: 22px;
}
#photo-review ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    height: 80%;
}

#photo-review ul li{
    width: 19.5%;
    height: 50%;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}

#photo-review ul li a{
    width: 100%;
    height: 100%;
}

#photo-review ul li img{
    height: 100%;
    width: 100%;
}

.review_tbox{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(265,265,265,0.2);
    top: 0;
    padding: 5px;
    padding-top: 70%;
    opacity: 0;
    transition: 0.5s;
}

#photo-review .review_tbox p{
    margin-top: 10px;
    font-size: 16px;
}

#photo-review ul li:hover .review_tbox{
    opacity: 1;
}